:root {
    color-scheme: light dark;


    --color-foreground                  : light-dark(#5C6A72, #D3C6AA);
    --color-red                         : light-dark(#F85552, #E67E80);
    --color-orange                      : light-dark(#F57D26, #E69875);
    --color-yellow                      : light-dark(#DFA000, #DBBC7F);
    --color-green                       : light-dark(#8DA101, #A7C080);
    --color-blue                        : light-dark(#3A94C5, #7FBBB3);
    --color-aqua                        : light-dark(#35A77C, #83C092);
    --color-purple                      : light-dark(#DF69BA, #D699B6);
    --color-background-dim              : light-dark(#EFEBD4, #232A2E);
    --color-background-0                : light-dark(#FDF6E3, #2D353B);
    --color-background-1                : light-dark(#F4F0D9, #343F44);
    --color-background-2                : light-dark(#EFEBD4, #3D484D);
    --color-background-3                : light-dark(#E6E2CC, #475258);
    --color-background-4                : light-dark(#E0DCC7, #4F585E);
    --color-background-5                : light-dark(#BDC3AF, #56635F);
    --color-background-red              : light-dark(#FBE3DA, #543A48);
    --color-background-visual           : light-dark(#EAEDC8, #514045);
    --color-background-yellow           : light-dark(#FAEDCD, #4D4C43);
    --color-background-green            : light-dark(#F0F1D2, #425047);
    --color-background-blue             : light-dark(#E9F0E9, #3A515D);
    --color-gray-0                      : light-dark(#A6B0A0, #7A8478);
    --color-gray-1                      : light-dark(#939F91, #859289);
    --color-gray-2                      : light-dark(#829181, #9DA9A0);


    --theme-bg                          : var(--color-background-0    );
    --theme-fg                          : var(--color-foreground      );


    --theme-icon-bg                     : var(--theme-bg              );
    --theme-icon-fg                     : light-dark(#DBBC7F, #A7C080);
    --theme-home-list-title-fg          : var(--color-foreground      );
    --theme-home-list-date-fg           : var(--color-gray-1          );
    --theme-home-list-hover-fg          : var(--color-green           );


    --theme-post-toc-bg                 : transparent;
    --theme-post-toc-border-fg          : var(--color-background-3    );
    --theme-post-toc-link-hover-fg      : var(--color-green           );
    --theme-post-h2-fg                  : var(--color-blue            );
    --theme-post-h3-fg                  : var(--color-green           );
    --theme-post-h4-fg                  : var(--color-orange          );
    --theme-post-table-th-fg            : var(--color-aqua            );
    --theme-post-em-code-fg             : light-dark(#829181, #A6B0A0 );
    --theme-post-code-fg                : var(--color-gray-2          );
    --theme-post-code-bg                : var(--color-background-1    );
    --theme-post-code-border-fg         : var(--color-background-3    );
    --theme-post-link-fg                : var(--color-blue            );
    --theme-post-link-hover-bg          : var(--color-background-blue );
    --theme-post-strong-fg              : var(--color-orange          );
    --theme-post-quote-border-fg        : var(--color-green           );
    --theme-post-quote-fg               : var(--color-green           );
    --theme-post-quote-bg               : var(--color-background-green);
    --theme-post-border-fg              : var(--color-background-2    );
    --theme-post-selection-bg           : var(--color-green           );


    --theme-footer-fg                   : var(--color-gray-1          );
    --theme-footer-bg                   : var(--color-background-0    );
    --theme-footer-link-hover-fg        : var(--color-green           );
    --theme-footer-gotop-fg             : light-dark(#272E3333, #E9F0E933);
    --theme-footer-gotop-bg             : light-dark(#E6E2CC7F, #4752587F);
    --theme-footer-gotop-hover-fg       : light-dark(#DBBC7F, #A7C080);
    --theme-footer-gotop-hover-bg       : light-dark(#8DA10133, #A7C08033);
    --theme-footer-gotop-border-fg      : light-dark(#272E3310, #475258);


    --theme-post-border-radius          : 10px;
    --theme-transition-time             : 0.3s;
    --theme-box-shadow                  : 0.5px 0.5px 3px -1px light-dark(#000000AA, #000);
}





html, body {
    font-family    : "LXGW WenKai", "PingFang SC", "Microsoft YaHei";
    font-weight    : normal;
    font-size      : 17px;
    line-height    : 1.65;
    color          : var(--theme-fg);
    background     : var(--theme-bg);
    display        : flex;
    flex-direction : column;
    min-height     : 100vh;
    width          : 100%;
}




main {
    flex: 1;
    background-color: var(--theme-bg);
    transition: background-color var(--theme-transition-time) ease;
    height: 100%;
    padding: 0 10px;
}




::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: light-dark(#A6B0A0, #434F55);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-green);
}
::-webkit-scrollbar-corner {
    background: transparent;
    display: none;
}
::selection {
    color: var(--theme-bg);
    background: var(--theme-post-selection-bg);
}
