main {
	flex: 1;
	background-color: var(--bg);
	transition: background-color 0.5s ease;
	height: 100%;
	padding: 0 10px;
}


main .post-list {
	display: flex;
	max-width: 500px;
    flex-direction: column;
	gap: 0;
	margin: 0px auto;
	border-radius: 10px;
	padding: 0px 0px;
}


main .list-item {
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding: 10px 15px;
	border-radius: 25px;
	user-select: none;
}


main .list-item:hover > .title {
	color: var(--home-list-hover-fg);
}


main .list-item:hover > .date {
	color: var(--home-list-hover-fg);
}


@media screen and (min-width: 900px) {
	main .list-item:hover > span.title::before {
		opacity: 1;
	}
}


main .title {
	color: var(--home-list-title-fg);
	font-size: 18px;
	font-weight: 400;
	transition: color 0.5s ease;
	max-width: 75%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	margin-left: -16px;
	-webkit-user-drag: none;
}


main .title::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
	margin-bottom: 2px;
    background-color: var(--home-list-hover-fg);
    border-radius: 50%;
    margin-right: 8px;
	opacity: 0;
}


main .date  {
	color: var(--home-list-date-fg);
	white-space: nowrap;
	font-size: 15px;
	font-weight: 400;
	display: inline-block;
	transition: color 0.5s ease;
}


#search-input {
	display: flex;
	color: var(--fg);
	background-color: var(--bg);
	padding: 8px 15px;
	border: 2px solid var(--home-search-border-fg);
	border-radius: 50px;
	width: 300px;
	max-width: 90%;
	margin: 50px auto 30px auto;
	text-align: center;
    font: inherit;
	transition: all 0.5s ease;
}


#search-input:focus {
	border: 2px solid var(--home-search-border-focus-fg);
	outline: none;
	transform: scale(1.05);
}


#search-input::placeholder {
	color: var(--home-search-placeholder-fg);
	transition: color 0.5s ease;
	user-select: none;
}
