.profile {
    margin: 100px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar-container {
    background-color: var(--Background-2);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px;
    box-shadow: var(--shadow);
    transition: background-color var(--transition-time) ease;
}
.avatar {
    user-select: none;
	pointer-events: none;
    align: center;
}

.dash-title {
    line-height: 1.7;
    color: var(--Gray-0);
    transition: color var(--transition-time) ease;
}

.dash-line {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    border-bottom: 1px dashed var(--Gray-0);
    transition: border-color var(--transition-time) ease;
    mask: linear-gradient( 90deg, transparent, black 20%, black 80%, transparent);
}


.typewriter{
    #text {
        line-height: 4;
    }
}





main {
    user-select: none;
	flex: 1;
	background-color: var(--bg);
	transition: background-color var(--transition-time) ease;
	height: 100%;
	padding: 0 10px;
}


main .post-list {
	display: flex;
	max-width: 500px;
    flex-direction: column;
	gap: 0;
	margin: 0px auto;
	border-radius: 10px;
	padding: 0px 0px;
}


main .list-item {
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding: 10px 15px;
	border-radius: 25px;
	user-select: none;
}


main .list-item:hover > .title {
	color: var(--home-list-hover-fg);
}


main .list-item:hover > .date {
	color: var(--home-list-hover-fg);
}


@media screen and (min-width: 900px) {
	main .list-item:hover > span.title::before {
		opacity: 1;
	}
}


main .title {
	color: var(--home-list-title-fg);
	font-size: 18px;
	font-weight: 400;
	transition: color var(--transition-time) ease;
	max-width: 75%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	margin-left: -16px;
	-webkit-user-drag: none;
}


main .title::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
	margin-bottom: 2px;
    background-color: var(--home-list-hover-fg);
    border-radius: 50%;
    margin-right: 8px;
	opacity: 0;
}


main .date  {
	color: var(--home-list-date-fg);
	white-space: nowrap;
	font-size: 15px;
	font-weight: 400;
	display: inline-block;
	transition: color var(--transition-time) ease;
}


#search-input {
	display: flex;
	color: var(--fg);
	background-color: var(--bg);
	padding: 8px 15px;
	border: 1px solid var(--home-search-border-fg);
	border-radius: 50px;
	width: 300px;
	max-width: 90%;
	margin: 50px auto 30px auto;
	text-align: center;
    font: inherit;
	transition: all var(--transition-time) ease;
}


#search-input:focus {
	border: 1px solid var(--home-search-border-focus-fg);
	outline: none;
	transform: scale(1.05);
}


#search-input::placeholder {
	color: var(--home-search-placeholder-fg);
	transition: color var(--transition-time) ease;
	user-select: none;
}
