.post-content {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	padding: 30px 0;
}





/* 文章标题 */
.post-title {
	margin-bottom: 30px;
}

.post-content time {
	color: var(--text-primary);
	transition: color 0.5s ease;
}





/* 目录 */
.post-content aside {
	transition: background-color 0.5s ease;
	background-color: var(--post-toc-bg);
	padding: 0px;
	border-radius: 10px;
	margin-bottom: 30px;

}

.post-content .toc {
	overflow: hidden;
}

#toc-toggle {
	line-height: 30px;
	padding: 10px 20px 10px 10px;
	color: var(--text-primary);
	cursor: zoom-in;
	font-weight: 600;
	display: flex;
	align-items: center;
	user-select: none;
	transition: color 0.5s ease;
}

#toc-toggle .toc-title {
	padding-left: 5px;
}

#toc-toggle.open {
	cursor: zoom-out;
}

#toc-toggle .toc-icon {
	height: 24px;
	transition: transform 0.2s ease;
}

#toc-toggle.open .toc-icon {
	transform: rotate(90deg);
}

.post-content .toc-content {
	display: none;
}

#toc-toggle.open ~ .toc-content {
	display: block;
	/*transition: color 0.5s ease;*/
}

#TableOfContents ul {
	margin-left: 35px;
	margin-bottom: 20px;
	transition: color 0.5s ease;
}

#TableOfContents a {
	-webkit-user-drag: none;
	user-select: none;
	padding: 2px 5px;
	border-radius: 5px;
}

#TableOfContents a:hover {
	background-color: var(--post-toc-hover-bg);
}

#TableOfContents ul > li > ul {
	margin-left: 35px;
}





/* 文章内的元素样式 */
.post-content a:not(.anchor):not(.toc a) {
	color: var(--post-link-fg);
	transition: color 0.5s ease;
	padding: 2px 5px;
	border-radius: 5px;
}

.post-content a:not(.anchor):not(.toc a):not(blockquote a):hover {
	background-color: var(--post-link-hover-bg);
}

a.anchor {
	opacity: 0;
}

a.anchor:hover {
	opacity: 1;
}

.post-content ul:not(.toc ul) {
	margin: 10px 0 13px 16px;
}

.post-content h1 {
	font-size: 2rem;
	font-weight: Bold;
	color: var(--text-primary);
	transition: color 0.5s ease;
}

.post-content h2 {
	font-size: 1.5rem;
	font-weight: normal;
	color: var(--post-h2);
	margin-top: 30px;
	margin-bottom: 20px;
	transition: color 0.5s ease;
}

.post-content h3 {
	font-size: 1.3rem;
	font-weight: normal;
	color: var(--post-h3);
	margin-top: 30px;
	margin-bottom: 20px;
	transition: color 0.5s ease;
}

.post-content h4 {
	font-size: 1.2rem;
	font-weight: normal;
	color: var(--post-h4);
	margin-top: 30px;
	margin-bottom: 20px;
	transition: color 0.5s ease;
}

.post-content h5, h6 {
	font-size: 1.1rem;
	font-weight: normal;
	color: var(--text-primary);
	margin-top: 30px;
	margin-bottom: 20px;
	transition: color 0.5s ease;
}

.post-content th, td {
	color: var(--text-primary);
	line-height: 2.1;
    border: none;
    border-bottom: 1px solid var(--post-border-fg);
	transition: all 0.5s ease;
}

.post-content .table-container table{
	display: table;
}

.post-content .table-container {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	overflow-x: scroll;
	margin: 5px 0px 10px 0px;
}

.post-content .table-container::-webkit-scrollbar {
	display: none;
} 

.no-thead thead {
	display: none;
}

.post-content code:not(.highlight code):not(blockquote code) {
	font-family: "LXGW WenKai Mono Medium", 'JetBrainsMonoNL NF', 'JetBrainsMono NF', 'Source Code Pro', 'Monaco', 'Consolas', 'monospace';
	font-size: 16px;
	padding: 1px 5px;
	color: var(--post-code-fg);
	background-color: var(--post-code-bg);
	border-radius: 5px;
	transition: all 0.5s ease;
}

.post-content .highlight pre {
	border-radius: 10px;
	margin: 10px 0;
}

.highlight code::-webkit-scrollbar {
	display: none;
} 

.post-content .highlight code {
	display: grid;
	overflow-x: auto;
	word-break: break-all;
	padding: 10px;
	border-radius: 10px;
	font-family: 'JetBrainsMonoNL NF', 'JetBrainsMono NF', 'Source Code Pro', 'Monaco', 'Consolas', 'monospace',"LXGW WenKai Medium";
	font-size: 15px;
	line-height: 1.5;
	background-color: var(--post-highlight-bg);
}

.post-content strong:not(table strong){
	color: var(--post-strong-fg);
	transition: color 0.5s ease;
}

.post-content img {
	border-radius: 10px;
	margin: 10px 0;
}
.dark .post-content img {
  filter: brightness(70%);
  transition: filter 0.5s ease;
} 

.post-content blockquote {
	border-left: 5px solid var(--post-quote-border-fg);
	border-radius: 10px;
	margin: 15px 0;
	padding: 10px 10px 10px 20px;
	background-color: var(--post-quote-bg);
	transition: background-color 0.5s ease;
}

.post-content blockquote code{
	font-family: "LXGW WenKai Mono Medium", 'JetBrainsMonoNL NF', 'JetBrainsMono NF', 'Source Code Pro', 'Monaco', 'Consolas', 'monospace';
	font-size: 16px;
	color: var(--post-code-fg);
}

.post-content hr {
	border: 0px;
	height: 1px;
	background: var(--post-border-fg);
}


::selection {
	color: var(--bg);
	background: var(--post-selection-bg);
}
