.post-content {
max-width : var(--header-nav-width);
width     : 100%;
margin    : 0 auto;
height    : 100%;
padding   : 30px 0;





/*****     文章标题     *****/
.post-title {
	margin-bottom: 30px;
}
time {
	transition: color var(--transition-time) ease;
}





/*****     目录条     *****/
.toc {
	border           : 1px solid var(--post-toc-border-fg);
	border-radius    : var(--post-border-radius);
	margin-bottom    : 30px;
	background-color : var(--post-toc-bg);
	transition       : all var(--transition-time) ease;
}





/*****     目录展开     *****/
#toc-toggle {
	padding     : 10px;
	font-weight : Bold;
	line-height : 30px;
	display     : flex;
	align-items : center;
	cursor      : zoom-in;
	user-select : none;
}
#toc-toggle .toc-title {
	padding-left : 5px;
}
#toc-toggle.open {
	cursor : zoom-out;
}
#toc-toggle .toc-icon {
	height     : 22px;
	transition : transform 0.2s ease;
}
#toc-toggle.open .toc-icon {
	transform  : rotate(90deg);
}





/*****     目录列表     *****/
#TableOfContents {
	line-height    : 1.8;
	padding-bottom : 15px;
	display        : none;
}
#toc-toggle.open ~ #TableOfContents {
	display: block;
}
#TableOfContents ul {
	margin-left: 35px;
}
#TableOfContents a {
	padding           : 2px 5px;
	border-radius     : 5px;
	-webkit-user-drag : none;
	user-select       : none;
}
#TableOfContents a:hover {
	color: var(--post-toc-link-hover-fg);
}
#TableOfContents ul  li  ul {
	margin-left: 26px;
}
@media (max-width: 900px) {
	#TableOfContents ul {
		margin-left: 37px;
	}
	#TableOfContents ul  li  ul {
		margin-left: 28px;
	}
}





/*****     文章正文     *****/
p {
	margin     : 10px 0;
	transition : color var(--transition-time) ease;
}





/*****     链接     *****/
a:not(.anchor):not(.toc a) {
	color         : var(--post-link-fg);
	padding       : 2px 5px;
	border-radius : 5px;
	transition    : color var(--transition-time) ease;
}
a:not(.anchor):not(.toc a):not(blockquote a):hover {
	background-color: var(--post-link-hover-bg);
}
a.anchor {
	opacity: 0;
}
a.anchor:hover {
	opacity: 1;
}





/*****     列表     *****/
ul:not(.toc ul) {
	margin-left   : 17px;
	margin-bottom : 15px;
}
li:not(.toc li) {
	margin-top: 15px;
}
ol:not(.toc ol) {
	margin-left   : 25px;
	margin-bottom : 15px;
}
dd {
	padding-inline-start: 10%;
}




/*****     标题 h1-h6     *****/
h1,h2,h3,h4,h5,h6 {
	font-weight : normal;
	transition  : color var(--transition-time) ease;
}
h1 {
	font-size     : 1.7rem;
	margin-bottom : 5px;
}
h2 {
	font-size     : 1.5rem;
	color         : var(--post-h2-fg);
	margin-top    : 40px;
	margin-bottom : 10px;
}
h3 {
	font-size     : 1.3rem;
	color         : var(--post-h3-fg);
	margin-top    : 30px;
	margin-bottom : 10px;
}
h2 + h3 {
	margin-top    : 10px;
}
h4 {
	font-size     : 1.1rem;
	color         : var(--post-h4-fg);
	margin-top    : 20px;
	margin-bottom : 10px;
}
h3 + h4 {
	margin-top    : 10px;
}
h5, h6 {
	font-size     : 1rem;
	margin-top    : 10px;
	margin-bottom : 0px;
}





/*****     表格     *****/
th {
	color: var(--post-table-th-fg);
}
th, td {
    border        : none;
    border-bottom : 1px solid var(--post-border-fg);
	padding       : 9px 10px 9px 0px;
	transition    : border-color var(--transition-time) ease;
}
th:last-child,
td:last-child {
	padding-right: 0px;
}
table{
	width: 100%;
	display: table;
	transition: color var(--transition-time) ease;
}
table strong {
	color: var(--post-table-th-fg);
}





/*****     `code`     *****/
code:not(.highlight code):not(blockquote code) {
	font-family: 'LXGW WenKai Mono', 'monospace';
	padding: 1px 5px;
	border-radius: 5px;
	color: var(--post-code-fg);
	background-color: var(--post-code-bg);
	border: 1px solid var(--post-code-border-fg);
	transition: background-color var(--transition-time) ease, border-color var(--transition-time) ease;
}
code:not(table code){
	word-break: break-all;
}





/*****     语法高亮的代码     *****/
.highlight {
	margin: 10px 0;
}
pre {
	line-height: 1.4;
    padding: 10px;
    border-radius: var(--post-border-radius);
    overflow-x: auto;
    word-break: break-all;
}
pre code {
	font-family: 'Maple Mono CN', 'JetBrainsMono NF', 'Source Code Pro', 'Monaco', 'Consolas', 'monospace';
	font-size: 15px;
}





/*****     粗体字     *****/
strong:not(table strong){
	color: var(--post-strong-fg);
	transition: color var(--transition-time) ease;
}





/*****     图片     *****/
img {
    border-radius: var(--post-border-radius);
	margin: 10px 0;
}
.dark img {
	filter: brightness(70%);
	transition: filter var(--transition-time) ease;
} 





/*****     提示 notice     *****/
blockquote {
	color: var(--post-quote-fg);
	border-left: 4px solid var(--post-quote-border-fg);
    border-radius: var(--post-border-radius);
	margin: 10px 0;
	padding: 10px 10px 10px 15px;
	background-color: var(--post-quote-bg);
	transition: all var(--transition-time) ease;
}
blockquote p {
	margin: 0;
}
blockquote code {
	font-family: 'LXGW WenKai Mono', 'monospace';
	color: var(--post-code-fg);
	word-break: break-all;
}





/*****     分割线     *****/
hr {
	border: 0px;
	height: 1px;
	margin: 10px 0;
	background-color: var(--post-border-fg);
	transition: background-color var(--transition-time) ease;
}





/*****     checkbox     *****/
li:has(input) {
	list-style: none;
	list-style-type: none;
}
input[type='checkbox']{
	-webkit-appearance:none;
	position: relative;
	top: 3px;
	width: 20px;
	height: 20px;
	background-color: var(--Background-3);
	border-radius: 5px;
	outline: none;
	transition: background-color var(--transition-time) ease;
}
li input[type='checkbox']{
	left: -5px;
	top: 4px;
	padding-right: 10px;
}
input[type='checkbox']:checked{
	border: none;
	background: url("/checked.svg") no-repeat center;
	background-size: contain;
}
ul:not(.toc ul):has(input) {
	margin-left: 5px;
}





/*****      鼠标选中的文字     *****/
::selection {
	color: var(--bg);
	background: var(--post-selection-bg);
}







/*****     结束     *****/
}
