.post-container {
    max-width : 1140px;
    width     : 100%;
    margin    : 0 auto;
    height    : 100%;
    padding   : 30px 0 0 0;
}





/*****     文章标题     *****/
.post-container .post-title {
    margin: 80px 0 0px 0;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size     : 1.7rem;
        margin-bottom : 5px;
        transition: color var(--theme-transition-time) ease;
    }
    time {
        color: var(--color-gray-2);
        font-size: 16px;
        margin: 20px 0;
        transition: color var(--theme-transition-time) ease;
    }
    .icons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .home-icon-container {
            border-radius: 50%;
            background-color: var(--theme-icon-bg);
            color: var(--theme-icon-fg);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            transition: all var(--theme-transition-time) ease;
            #home {
                width: 27px;
                height: 27px;
            }
        }
    }
}





/*****     虚线     *****/
.post-container .dash-line {
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin-bottom: 50px;
    border-bottom: 1px dashed var(--color-gray-0);
    transition: border-color var(--theme-transition-time) ease;
    mask: linear-gradient( 90deg, transparent, black 20%, black 80%, transparent);
}





/*****     目录     *****/
.post-container .toc {
    color: var(--color-gray-2);
    border           : 1px solid var(--theme-post-toc-border-fg);
    border-radius    : var(--theme-post-border-radius);
    margin-top       : 50px;
    margin-bottom    : 30px;
    background-color : var(--theme-post-toc-bg);
    transition       : all var(--theme-transition-time) ease;
    #toc-toggle {
        padding     : 10px;
        line-height : 30px;
        display     : flex;
        align-items : center;
        cursor      : zoom-in;
        user-select : none;
        .toc-icon {
            height     : 22px;
            transition : transform 0.2s ease;
        }
        .toc-title {
            padding-left : 5px;
        }
        &.open {
            cursor : zoom-out;
        }
        &.open .toc-icon {
            transform  : rotate(90deg);
        }
        &.open ~ #TableOfContents {
            display: block;
        }
    }
    #TableOfContents {
        line-height    : 1.8;
        padding-bottom : 15px;
        display        : none;
        ul {
            margin-left: 35px;
            li  ul {
                margin-left: 26px;
            }
        }
        @media (max-width: 900px) {
            ul {
                margin-left: 37px;
                li  ul {
                    margin-left: 28px;
                }
            }
        }
        a {
            padding           : 2px 5px;
            border-radius     : 5px;
            -webkit-user-drag : none;
            user-select       : none;
            &:hover {
                color: var(--theme-post-toc-link-hover-fg);
            }
        }
    }
}





/*****     文章正文     *****/
.main-text {
    p {
        margin     : 10px 0;
        transition : color var(--theme-transition-time) ease;
    }





    /*****     链接     *****/
    a.link {
        color         : var(--theme-post-link-fg);
        padding       : 2px 5px;
        border-radius : 5px;
        transition    : color var(--theme-transition-time) ease;
    }
    a.link:hover {
        background-color: var(--theme-post-link-hover-bg);
    }
    blockquote a.link:hover {
        background-color: transparent;
    }
    :is(h1, h2, h3, h4, h5, h6) a.anchor {
        padding: 0 10px;
        opacity: 0;
    }
    :is(h1, h2, h3, h4, h5, h6) a.anchor:hover {
        opacity: 1;
    }





    /*****     列表     *****/
    ul {
        margin-left   : 17px;
        margin-bottom : 15px;
        transition: color var(--theme-transition-time) ease;
    }
    li {
        margin-top: 15px;
    }
    ol {
        margin-left   : 25px;
        margin-bottom : 15px;
    }
    dd {
        padding-inline-start: 10%;
    }





    /*****     标题 h2-h6     *****/
    h2,h3,h4,h5,h6 {
        transition  : color var(--theme-transition-time) ease;
    }
    h2 {
        font-size     : 1.5rem;
        color         : var(--theme-post-h2-fg);
        margin-top    : 40px;
        margin-bottom : 10px;
    }
    h2 + h3 {
        margin-top    : 10px;
    }
    h3 {
        font-size     : 1.3rem;
        color         : var(--theme-post-h3-fg);
        margin-top    : 30px;
        margin-bottom : 10px;
    }
    h3 + h4 {
        margin-top    : 10px;
    }
    h4 {
        font-size     : 1.1rem;
        color         : var(--theme-post-h4-fg);
        margin-top    : 20px;
        margin-bottom : 10px;
    }
    h5, h6 {
        font-size     : 1rem;
        margin-top    : 10px;
        margin-bottom : 0px;
    }





    /*****     表格     *****/
    th {
        color: var(--theme-post-table-th-fg);
    }
    th, td {
        border        : none;
        border-bottom : 1px solid var(--theme-post-border-fg);
        padding       : 9px 10px 9px 0px;
        transition    : border-color var(--theme-transition-time) ease;
    }
    td:first-child > code {
        margin-left: 0px;
    }
    th:last-child,
    td:last-child {
        padding-right: 0px;
    }
    table{
        width: 100%;
        display: table;
        transition: color var(--theme-transition-time) ease;
    }
    table strong {
        color: var(--theme-post-table-th-fg);
    }





    /*****     `code`     *****/
    code:not(.highlight code):not(blockquote code):not(em code):not(strong code) {
        margin: 0px 2px;
        padding: 2px 5px;
        border-radius: 5px;
        color: var(--theme-post-code-fg);
        background-color: var(--theme-post-code-bg);
        border: 0px solid var(--theme-post-code-border-fg);
        box-shadow : var(--theme-box-shadow);
        transition: background-color var(--theme-transition-time) ease, border-color var(--theme-transition-time) ease;
    }
    code:not(table code){
        word-break: break-all;
    }






    /*****     语法高亮的代码     *****/
    .highlight {
        margin: 10px 0;
        border-radius: var(--theme-post-border-radius);
        box-shadow : var(--theme-box-shadow);
        background-color: var(--color-background-0);
        transition: background-color var(--theme-transition-time) ease;
    }
    pre {
        line-height: 1.65;
        padding: 8px 0;
        overflow-x: auto;
        word-break: break-all;
    }
    pre code {
        font-size: 15px;
        display: grid;
        .line {
            padding: 0px 13px;
        }
    }





    /*****     粗体字     *****/
    strong:not(table strong){
        color: var(--theme-post-strong-fg);
        transition: color var(--theme-transition-time) ease;
    }
    strong code {
        color: var(--theme-post-strong-fg);
        font-style: normal;
        background-color: transparent;
    }





    /*****     斜体字     *****/
    em code {
        color: var(--theme-post-em-code-fg);
        font-style: normal;
        margin: 0px 2px;
        background-color: transparent;
    }





    /*****     图片     *****/
    img {
        border-radius: var(--theme-post-border-radius);
        margin: 10px 0;
        user-select : none;
        pointer-events: none;
    }





    /*****     提示 notice     *****/
    blockquote {
        color: var(--theme-post-quote-fg);
        border-left: 4px solid var(--theme-post-quote-border-fg);
        border-radius: var(--theme-post-border-radius);
        margin: 10px 0;
        padding: 10px 10px 10px 15px;
        background-color: var(--theme-post-quote-bg);
        transition: all var(--theme-transition-time) ease;
        box-shadow : var(--theme-box-shadow);
    }
    blockquote p {
        margin: 0;
    }
    blockquote code {
        color: var(--theme-post-code-fg);
        word-break: break-all;
    }
    blockquote  ul {
        margin-bottom: 0;
    }




    /*****     分割线     *****/
    hr {
        border: 0px;
        height: 1px;
        margin: 10px 0;
        background-color: var(--theme-post-border-fg);
        transition: background-color var(--theme-transition-time) ease;
    }





    /*****     checkbox     *****/
    li:has(input) {
        list-style: none;
        list-style-type: none;
    }
    input[type='checkbox']{
        -webkit-appearance:none;
        position: relative;
        top: 3px;
        width: 20px;
        height: 20px;
        background-color: var(--color-background-3);
        border-radius: 5px;
        outline: none;
        transition: background-color var(--theme-transition-time) ease;
    }
    li input[type='checkbox']{
        left: -5px;
        top: 4px;
        padding-right: 10px;
    }
    input[type='checkbox']:checked{
        border: none;
        background: url("/checked.svg") no-repeat center;
        background-size: contain;
    }
    ul:not(.toc ul):has(input) {
        margin-left: 5px;
    }





}    /*****     .main-text 结束     *****/
