.post-content {
	max-width: var(--header-nav-width);
	width: 100%;
	margin: 0 auto;
	height: 100%;
	padding: 30px 0;
}





/* 文章标题 */
.post-title {
	margin-bottom: 30px;
}





/* 目录：总的框架 */
.post-content .toc {
	transition: background-color 0.5s ease;
	background-color: var(--post-toc-bg);
	padding-left: 0px;
	border-radius: 10px;
	margin-bottom: 30px;
	/*
	position: fixed;
	right: 30px;
	height: 800px;
	width: 350px;
	overflow-y: auto;
	overflow-x: hidden;
	*/
}





/* 目录：按钮，控制目录展开 */
#toc-toggle {
	padding: 10px;
	cursor: zoom-in;
	font-weight: Bold;
	line-height: 30px;
	display: flex;
	align-items: center;
	user-select: none;
}

#toc-toggle .toc-title {
	padding-left: 5px;
}

#toc-toggle.open {
	cursor: zoom-out;
}

#toc-toggle .toc-icon {
	height: 22px;
	transition: transform 0.2s ease;
}

#toc-toggle.open .toc-icon {
	transform: rotate(90deg);
}





/* 目录：列表 */
#TableOfContents {
	line-height: 1.8;
	padding-bottom: 15px;
	display: none;
}

#toc-toggle.open ~ #TableOfContents {
	display: block;
}

#TableOfContents ul {
	margin-left: 35px;
}

#TableOfContents a {
	-webkit-user-drag: none;
	user-select: none;
	padding: 2px 5px;
	border-radius: 5px;
}

#TableOfContents a:hover {
	background-color: var(--post-toc-hover-bg);
}

#TableOfContents ul  li  ul {
	margin-left: 26px;
}

@media (max-width: 900px) {
	#TableOfContents ul {
		margin-left: 37px;
	}
	#TableOfContents ul  li  ul {
		margin-left: 28px;
	}
}








/*************    以下是文章正文中的内容样式    **************/
.post-content p {
	margin: 10px 0;
}

/* 链接 */
.post-content a:not(.anchor):not(.toc a) {
	color: var(--post-link-fg);
	transition: color 0.5s ease;
	padding: 2px 5px;
	border-radius: 5px;
}

.post-content a:not(.anchor):not(.toc a):not(blockquote a):hover {
	background-color: var(--post-link-hover-bg);
}

a.anchor {
	opacity: 0;
}

a.anchor:hover {
	opacity: 1;
}





/* 列表 */
.post-content ul:not(.toc ul) {
	margin-left: 17px;
	margin-bottom: 10px;
	line-height: 2.4;
}

.post-content ol:not(.toc ol) {
	margin-left: 25px;
	margin-bottom: 10px;
	line-height: 2.4;
}
.post-content dd {
	padding-inline-start: 10%;
}




/* 标题 h1-h6 */
.post-content h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

.post-content h1 {
	font-size: 1.7rem;
	margin-bottom: 5px;
}

.post-content h2 {
	font-size: 1.5rem;
	color: var(--post-h2);
	margin-top: 40px;
	margin-bottom: 10px;
	transition: color 0.5s ease;
}

.post-content h3 {
	font-size: 1.3rem;
	color: var(--post-h3);
	margin-top: 30px;
	margin-bottom: 10px;
	transition: color 0.5s ease;
}

.post-content h2 + h3 {
	margin-top: 10px;
}

.post-content h4 {
	font-size: 1.1rem;
	color: var(--post-h4);
	margin-top: 20px;
	margin-bottom: 10px;
	transition: color 0.5s ease;
}

.post-content h3 + h4 {
	margin-top: 10px;
}

.post-content h5, h6 {
	font-size: 1rem;
	margin-top: 10px;
	margin-bottom: 0px;
}





/* 表格 */
.post-content th {
	color: var(--post-table-th-fg);
}

.post-content th, td {
	line-height: 2.4;
    border: none;
    border-bottom: 1px solid var(--post-border-fg);
	padding-right: 20px;
	transition: border-color 0.5s ease;
}

.post-content table{
	width: 100%;
	display: table;
}

.post-content table strong {
	color: var(--post-table-th-fg);
	transition: color 0.5s ease;
}

.post-content .table-container {
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
/*	margin: 5px 0px 10px 0px;  */
}

.table-container::-webkit-scrollbar {
    height: 15px;
}

.table-container::-webkit-scrollbar-track {
    background: var(--bg);
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
	background: var(--post-border-fg);
    border-radius: 10px;
    border: 5px solid var(--bg);
}

.table-container::-webkit-scrollbar-thumb:hover {
	background: var(--post-horizontal-scroll-bar-hover-fg);
}






/* 非高亮代码：`code` */
.post-content code:not(.highlight code):not(blockquote code) {
	font-family: "LXGW WenKai Mono Medium", 'JetBrainsMonoNL NF', 'JetBrainsMono NF', 'Source Code Pro', 'Monaco', 'Consolas', 'monospace';
	padding: 1px 5px;
	color: var(--post-code-fg);
	background-color: var(--post-code-bg);
	border-radius: 5px;
	transition: background-color 0.5s ease;
}

.post-content code:not(table code){
	word-break: break-all;
}





/* 语法高亮的代码：```lang  */
.post-content .highlight {
	margin: 10px 0;
}

.post-content pre {
	line-height: 1.4;
    padding: 10px;
	background-color: var(--post-highlight-bg);
    border-radius: 10px;
    overflow-x: auto;
    word-break: break-all;
	transition: background-color 0.5s ease;
}

.post-content pre code {
	font-family: 'Maple Mono CN', 'JetBrainsMono NF', 'Source Code Pro', 'Monaco', 'Consolas', 'monospace';
	font-size: 15px;
}

.post-content pre::-webkit-scrollbar {
	height: 15px;
}

.post-content pre::-webkit-scrollbar-track {
	margin: 0px 5px;
	border-radius: 10px;
}

.post-content pre::-webkit-scrollbar-thumb {
	background: var(--post-horizontal-scroll-bar-fg);
	border-radius: 10px;
	border: 5px solid var(--post-highlight-bg);
}

.post-content pre::-webkit-scrollbar-thumb:hover {
	background: var(--post-horizontal-scroll-bar-hover-fg);
}





/* 粗体字 */
.post-content strong:not(table strong){
	color: var(--post-strong-fg);
	transition: color 0.5s ease;
}





/* 图片 */
.post-content img {
	border-radius: 10px;
	margin: 10px 0;
}

.dark .post-content img {
	filter: brightness(70%);
	transition: filter 0.5s ease;
} 





/* 提示 notice */
.post-content blockquote {
	color: var(--text);
	border-left: 5px solid var(--post-quote-border-fg);
	border-radius: 10px;
	margin: 10px 0;
	padding: 10px 10px 10px 15px;
	background-color: var(--post-quote-bg);
	transition: all 0.5s ease;
}

.post-content blockquote p {
	margin: 0;
}

.post-content blockquote code{
	font-family: "LXGW WenKai Mono Medium", 'JetBrainsMonoNL NF', 'JetBrainsMono NF', 'Source Code Pro', 'Monaco', 'Consolas', 'monospace';
	color: var(--post-code-fg);
	word-break: break-all;
}





/* 分割线 */
.post-content hr {
	border: 0px;
	height: 1px;
	margin: 10px 0;
	background-color: var(--post-border-fg);
	transition: background-color 0.5s ease;
}





/* 鼠标选中的文字 */
::selection {
	color: var(--bg);
	background: var(--post-selection-bg);
}
