/* 盒模型重置 */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* 文档元素重置 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
}

body {
	margin: 0;
	line-height: 1.5;
}

/* 标题重置 */
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}

/* 列表重置 */
/*
ol, ul {
	list-style: none;
}
*/

/* 链接和按钮重置 */
a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	border: none;
	background: none;
}

button, input {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

/* 表单元素重置 */
fieldset {
	padding: 0;
	border: none;
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

textarea {
	overflow: auto;
}

[type="checkbox"], [type="radio"] {
	padding: 0;
}

/* 媒体元素重置 */
img, embed, iframe, object, audio, video {
	height: auto;
	max-width: 100%;
	border-style: none;
}

/* 表格重置 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	padding: 0;
}

