<!DOCTYPE html>
<html lang="zh-CN">





<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ if .IsHome }}{{ else }}{{ if .Title }}{{ .Title }} | {{ end }}{{ end }}{{ site.Title }}</title>
	{{ $Reset  := resources.Get "css/reset.css"  }}
	{{ $Core   := resources.Get "css/core.css"   }}
	{{ $Header := resources.Get "css/header.css" }}
	{{ $Home   := resources.Get "css/home.css"   }}
	{{ $Post   := resources.Get "css/post.css"   }}
	{{ $Footer := resources.Get "css/footer.css" }}
	{{ $Synax  := resources.Get "css/synax-everforest-medium-dark.css" }}
	{{ $Bundle := slice $Reset $Core $Header $Home $Post $Footer $Synax | resources.Concat "css/Bundle.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $Bundle.RelPermalink }}" integrity="{{ $Bundle.Data.Integrity }}">
	<link rel='stylesheet' href='https://jtcloud.oss-cn-hangzhou.aliyuncs.com/fonts/lxgw-wenkai-web-latest/lxgwwenkai-medium/result.css' />
	<link rel='stylesheet' href='https://jtcloud.oss-cn-hangzhou.aliyuncs.com/fonts/lxgw-wenkai-web-latest/lxgwwenkaimono-medium/result.css' />
</head>





<body class=" {{- if eq site.Params.defaultTheme `dark` -}} {{- print " dark" }} {{- end -}} ">

<script> // 在页面渲染前就修改 body 的主题 class，防止页面切换时闪烁
	(localStorage.getItem("current-theme")==="dark") && document.body.classList.add("dark") 
</script>





<header>
	<div class="nav">
		<div class="logo">
			<a href="/" draggable="false">{{ site.Params.headerTitle }}</a>
		</div>
		<div id="theme-toggle">
			<div class="toggle-wrapper">
				<svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
				</svg>
				<svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<circle cx="12" cy="12" r="5"></circle>
					<line x1="12" y1="1" x2="12" y2="3"></line>
					<line x1="12" y1="21" x2="12" y2="23"></line>
					<line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
					<line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
					<line x1="1" y1="12" x2="3" y2="12"></line>
					<line x1="21" y1="12" x2="23" y2="12"></line>
					<line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
					<line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
				</svg>
			</div>
		</div>
	</div>
</header>





<main>
	{{ block "main" . }}{{ end }}
</main>





<footer>
	<svg t="1756792367227" id="back-to-top" width="48" height="48" fill="currentColor" stroke="currentColor" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10071"><path d="M512 1024c282.7776 0 512-229.2224 512-512S794.7776 0 512 0 0 229.2224 0 512s229.2224 512 512 512zM475.9552 281.088a51.2 51.2 0 0 1 72.0384 0l185.856 183.9616c32.5632 32.2048 9.728 87.6032-35.9936 87.6032H614.4l-17.1008 154.112a85.8112 85.8112 0 0 1-170.5984 0L409.6 552.6016H326.144c-45.7728 0-68.5568-55.3984-36.0448-87.552l185.856-184.0128z" p-id="10072"></path></svg>
	<span>&copy; {{ now.Year }} <a href="{{ "" | absLangURL }}" draggable="false">{{ site.Title }}</a></span>
    <span>
        由 <a href="https://gohugo.io/" draggable="false" rel="noopener noreferrer" target="_blank">Hugo</a> 驱动 |
        主题 <a href="https://github.com/kingtuo123/hugo-notes" draggable="false "rel="noopener" target="_blank">Notes</a>
    </span>
</footer>

</body>





<script> 
	// 主题切换
	document.getElementById("theme-toggle").addEventListener("click", () => {
		if (document.body.className.includes("dark")) {
			document.body.classList.remove('dark');
			localStorage.setItem("current-theme", 'light');
		} else {
			document.body.classList.add('dark');
			localStorage.setItem("current-theme", 'dark'); // 保存当前主题
		}
	})
	// 返回页面顶部
	window.addEventListener('scroll', function() {
		const backToTopButton = document.getElementById('back-to-top');
		if (window.pageYOffset > 300) { // 滚动距离超过 300 显示 back-to-top 图标
			backToTopButton.classList.add('show');
		} else {
			backToTopButton.classList.remove('show');
		}
	});
	document.getElementById("back-to-top").addEventListener("click", (e) => {
		window.scrollTo({ top: 0 });
	})
</script>





</html>
