{{ define "main" }}
<div class="home-container">
    <div class="profile">
        <div class="avatar-container">
            <div class="avatar">
                {{ $avatar := site.Params.profileAvatar }}
                {{ $isSvg := hasSuffix $avatar ".svg" }}
                {{ if $isSvg }}
                    {{- urls.JoinPath "static" $avatar | readFile | safeHTML -}}
                {{ else }}
                    <img src="{{ $avatar }}"></img>
                {{ end }}
            </div>
        </div>

        <span class="profile-name" >{{- site.Params.profileName -}}</span>

        <div class="typewriter">
            <span id="text">|</span>
        </div>

        <div id="theme-toggle" accesskey="t">
            <div class="toggle-wrapper">
                <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                </svg>
                <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="5"></circle>
                    <line x1="12" y1="1" x2="12" y2="3"></line>
                    <line x1="12" y1="21" x2="12" y2="23"></line>
                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                    <line x1="1" y1="12" x2="3" y2="12"></line>
                    <line x1="21" y1="12" x2="23" y2="12"></line>
                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                </svg>
            </div>
        </div>

    </div>

    <div class="dash-line"> <span class="dash-title">笔记</span></div>

    <div class="post-list">
        {{ range site.RegularPages }}
        <a class="list-item" draggable="false" href="{{ .RelPermalink }}">
            <span class="title" >{{ if .Params.draft }}[草稿] {{ end }}{{ .LinkTitle }}</span>
            <span class="date">{{ .Date | time.Format "2006-01-02" }}</span>
        </a>
        {{ end }}
    </div>

    <div class="dash-line"> </div>
</div>
{{ end }}
